{% load crispy_forms_tags %}

<form id="frm-example" method="post" enctype='multipart/form-data'>
		{% csrf_token %}
		<legend>Delete Aktiviti</legend>
		{% if aktiviti %}
			Adakah anda pasti mahu menghapuskan aktiviti :
			{{ aktiviti.tajuk }} ?
				<p class="text-center">
				<button type="submit" name="submit_yes" value="Yes" class="btn btn-primary">Yes</button>
				<a href="{% url 'home_penganjur' %}" class="btn btn-primary">No</a>
		</p>
		{% else %}
			Maaf rekod yang anda hapuskan tiada di dalam senarai ..
		{% endif %}
		<a href="{% url 'home_penganjur' %}" class="btn btn-primary">Cancel</a>
</form>​